div.fw.footer-container
  div.row.footer
    div.medium-12.columns.text-center
      p Made in India, with &nbsp;
        img(src="img/love.gif")
        | &nbsp; by &nbsp;
      p: a(href="http://superwebsiteclub.com" target="_new")
          img(src="img/superClub_logo.gif")
          | &nbsp; Super Website Club
