div.fw.header-container
  div.row
    div.medium-12.columns.header
      div.medium-6.columns.timings
        != partial("_mob-menu")
        p.hide 
      div.medium-6.columns.contact.text-right
        p Call us: #{header_phone}
        p Or
        p Mail us: 
          span #{header_mail}
