div.row.comp-header
  div.medium-12.columns
    div.medium-12.columns
      div.medium-12.columns.text-center.comp-name
        img(src="img/logo.svg" alt="Company Logo")
      div.medium-12.columns.text-center.comp-details.psz
        :markdown
          We are dealers and stockists of Scaffolding & Scaffolding Accessories, Safety Products, Road Safety,  
          Welding Consumables, Power Tools, Pulling & Lifting Equipments. [Contact us now!][#]
            [#]: http://eeeblr.in/#address
